.grid{
    display: grid;
    gap: 1em;
    justify-content: center;
    background: rgb(25,8,37);
    background: linear-gradient(90deg, rgba(25,8,37,1) 0%, rgba(69,65,65,1) 50%, rgba(255,77,77,1) 100%);
  }
  
  @media screen and (min-width: 700px) {
    .grid {
      grid-template-columns: auto auto auto;
    }
  }
  
  @media screen and (max-width: 699px) {
    .grid {
      grid-template-columns: auto auto;
    }
  }
  