.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  border: 1px solid black;
  width: 90%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aqua;
}

.email{
  display: flex;
  flex-direction: column;
  margin: 0em;
  width: 100%;
  padding-top: 1em;
}
.email input{
  width: 100%;
}

.btn{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  box-shadow: 2px 2px 3px black;
  color: white;
}

.loginLink{
  color: rgb(224, 0, 0);
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: bolder;
}

.popup{
  position: absolute;
  font-size: 1em;
  width: 80%;
  height: 3em;
  color: rgb(0, 0, 0);
  top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registraion{
  position: absolute;
  font-size: 1em;
  width: 80%;
  height: 3em;
  padding-top: 1em;
  top: 25em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redirection{
  position: absolute;
  background: rgb(144,149,235);
  background: linear-gradient(166deg, rgba(144,149,235,20) 4%, rgba(89,130,209,20) 48%, rgba(62,252,160,20) 70%);
  font-size: 3em;
  width: 100%;
  height: 70vh;
  opacity: 20;
  text-align: center;
  padding-top: 6em;
}

@media screen and (min-width: 700px) and (max-width: 1024px){
  .popup{
    width: 70%;
    font-size: 1em;
  }
  .form{
    width: 50%;
  }
}
